:root{
 --primary: #0d6efd;
  --secondary: #212529;
  --background: #194078;
  --accent: #198754;
  --text:white;
}
body {
  margin: 0;
    padding-top: 56px; /* navbar height */
}



.dashboard {
  display: flex;
  min-height: calc(100vh - 56px); /* navbar height */
}

/* navbar */
.navbar{
    background: #194078;
}
/* Sidebar */
.sidebar {
  width: 250px;
  background-color: var(--background);
  display: flex;
  flex-direction: column;

  position: sticky;
  top: 56px; /* height of navbar */
  height: calc(100vh - 56px);
}


/* Push logout to bottom */
.logout {
  margin-top: auto;
  border-top: 1px solid #495057;
}

/* Links hover */
.sidebar .nav-link {
  border-radius: 6px;
  padding: 10px;
}

.sidebar .nav-link:hover,
.sidebar .nav-link.active {
  background-color: #3590ec;
}

/* Content */
.content {
  flex: 1;
  background-color: #f8f9fa;
}
.card-body{
    background: var(--background);
}
.card{
 border-radius: 20px;
}

/* Make table fully transparent inside cards */
.card table,
.card thead,
.card tbody,
.card tr,
.card th,
.card td {
  background-color: transparent !important;
}

/* Optional: soft hover effect */
.card .table-hover tbody tr:hover {
  background-color: rgba(89, 84, 84, 0.08);
}

/* White table borders */
.card .table th,
.card .table td {
border-color: #fff !important;
}

/* ===== MOBILE ===== */
@media (max-width: 768px) {
  .sidebar {
    position: fixed;
    top: 56px; /* navbar height */
    left: 0;
    height: calc(100vh - 56px);
    transform: translateX(-100%);
    z-index: 1050;
  }

  .sidebar.show {
    transform: translateX(0);
  }
}

.table-container {
  max-height: 260px; /* shows ~4 rows */
  overflow-y: auto;
}
/* table */
.table thead th {
  position: sticky;
  top: 0;
  background-color: #212529;
  z-index: 2;
}
